<h3>
  Certificado en detalle
  <small>Libranza #<%= @certificate.no_libranza %></small>
</h3>
<div class="row">
  <div class="col-sm-12">
    <p id="notice"><%= notice %></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">DATOS BASICOS</h3></div>
      <div class="panel-body">
        <p>
          <strong>Nombre:</strong>
          <%= @certificate.nombre %>
        </p>

        <p>
          <strong>Cedula:</strong>
          <%= @certificate.cedula %>
        </p>

        <p>
          <strong>Pagaduria:</strong>
          <%= @certificate.pagaduria %>
        </p>

        <p>
          <strong>No libranza:</strong>
          <%= @certificate.no_libranza %>
        </p>

        <p>
          <strong>Clase cooperativa:</strong>
          <%= @certificate.clase_cooperativa %>
        </p>

        <p>
          <strong>Fecha vencimiento:</strong>
          <%= @certificate.fecha_vencimiento %>
        </p>
      </div>
    </div>
  </div>
  <!--Segunda columna datos de pago-->
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">DATOS DE PAGO</h3></div>
      <div class="panel-body">
        <p>
          <strong>Saldo letras:</strong>
          <%= @certificate.saldo_letras %>
        </p>

        <p>
          <strong>Saldo numeros:</strong>
          <%= number_to_currency(@certificate.saldo_numeros, precision: 0) %>
        </p>

        <p>
          <strong>Cuota letras:</strong>
          <%= @certificate.cuota_letras %>
        </p>

        <p>
          <strong>Cuota numeros:</strong>
          <%= number_to_currency(@certificate.cuota_numeros, precision: 0) %>
        </p>

      </div>
    </div>
  </div>
  <!--fin segunda columna-->
</div>
<div class="row">
  <!--inicio zona acciones-->

    <!--col Acciones -->
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">ACCIONES</h3></div>
        <div class="panel-body">
          <%= link_to 'Editar', edit_certificate_path(@certificate), class: "mb-sm btn btn-success" %>
          <%= link_to 'Eliminar', @certificate, method: :delete, data: {confirm: 'Esta seguro?'}, class: "mb-sm btn btn-danger" %>
        </div>
      </div>
    </div>
    <!--fin col Acciones-->
    <!--col exportar-->
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">EXPORTAR</h3></div>
        <div class="row">
          <div class="col-sm-12">
            <div class="panel-body">
              <div class="col-sm-6">
                <%= link_to pdf_report_path(@certificate), class: "list-group-item" do %>
                    <!--<a href="#" class="list-group-item">-->
                    <div class="media-box">
                      <div class="pull-left">
                        <em class="fa fa-file-pdf-o fa-2x text-info"></em>
                      </div>
                      <div class="media-box-body clearfix">
                        <p class="m0">PDF</p>
                        <p class="m0 text-muted">
                          <small>SIN MEMBRETE</small>
                        </p>
                      </div>
                    </div>
                    <!--</a>-->
                <% end  %>
              </div>
              <div class="col-sm-6">
                <%= link_to pdf_report_path(@certificate, membrete: true), class: "list-group-item" do %>
                    <!--<a href="#" class="list-group-item">-->
                    <div class="media-box">
                      <div class="pull-left">
                        <em class="fa fa-file-pdf-o fa-2x text-info"></em>
                      </div>
                      <div class="media-box-body clearfix">
                        <p class="m0">PDF</p>
                        <p class="m0 text-muted">
                          <small>CON MEMBRETE</small>
                        </p>
                      </div>
                    </div>
                    <!--</a>-->
                <% end  %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!--fin col exportar -->
  <!--col navegacion-->
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">NAVEGACION</h3></div>
      <div class="panel-body">
        <%= link_to 'Regresar', certificates_path, class: "mb-sm btn btn-primary" %>
      </div>
    </div>
  </div>
  <!--fin col navegacion -->
</div>



