<!-- START Sidebar (left)-->
<div class="aside-inner">
   <nav class="sidebar">
      <!-- START sidebar nav-->
      <ul class="nav">
         <!-- START user info-->
         <!--<li class="has-user-block">-->
            <!--<div id="user-block" class="collapse">-->
               <!--<div class="item user-block">-->
                  <!--&lt;!&ndash; User picture&ndash;&gt;-->
                  <!--<div class="user-block-picture">-->
                     <!--<div class="user-block-status">-->
                        <!--&lt;!&ndash;<img src="<%= image_path('angle/user/02.jpg') %>" alt="Avatar" width="60" height="60" class="img-thumbnail img-circle" />&ndash;&gt;-->
                        <!--<div class="circle circle-success circle-lg"></div>-->
                     <!--</div>-->
                  <!--</div>-->
                  <!--&lt;!&ndash; Name and Job&ndash;&gt;-->
                  <!--<div class="user-block-info">-->
                     <!--<span class="user-block-name">Hello, Mike</span>-->
                     <!--<span class="user-block-role">Designer</span>-->
                  <!--</div>-->
               <!--</div>-->
            <!--</div>-->
         <!--</li>-->
         <!-- END user info-->
         <!-- Iterates over all sidebar items-->
         <li class="nav-heading">
            <span>Menu Principal</span>
         </li>
         <li class="<%= 'active' if controller?('dashboard')%>">
            <a href="#dashboard" title="Dashboard" data-toggle="collapse">
               <em class="icon-speedometer"></em>
               <!--<div class="label label-success pull-right">3</div>-->
               <span data-localize="sidebar.nav.DASHBOARD">Dashboard</span>
            </a>
            <ul id="dashboard" class="nav sidebar-subnav collapse">
               <li class="<%= 'active' if controller?('dashboard') && action?('dashboard_v3') %>">
                  <a href="/dashboard/dashboard_v3" title="Dashboard v3">
                     <span>Dashboard</span>
                  </a>
               </li>
            </ul>
         </li>
         <li class="nav-heading">
            <span>Modulos Operacionales</span>
         </li>
         <li class="<%= 'active' if controller?('certificates')%>">
          <a href="#certificates" title="Certificados Libranzas" data-toggle="collapse">
            <em class="icon-doc"></em>
            <div class="label label-success pull-right">2</div>
            <span>Certificados</span>
          </a>
           <ul id="certificates" class="nav sidebar-subnav collapse">
             <li class="<%= 'active' if controller?('certificates') && action?('index') %>">
               <a href="/certificates" title="Lista de certificados">
                 <span>Lista de certificados</span>
               </a>
             </li>
             <li class="<%= 'active' if controller?('certificates') && action?('new') %>">
               <a href="/certificates/new" title="Lista de certificados">
                 <span>Nuevo</span>
               </a>
             </li>
           </ul>
        </li>
      </ul>
      <!-- END sidebar nav-->
   </nav>
</div>
<!-- END Sidebar (left)-->